{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title%}Oscar's Website{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/my_stylesheet.css' %}">
</head>
<body>
    <header>
        <h1>Oscar Horn Roostami - It student UIO</h1>
    </header>
    <nav>
        <p>Navigation</p>
    </nav>

{% block content %}

{% endblock %}
    <footer>
        <p>Min Github: <a href="https://github.com/Osi135" target="_blank" title="Osi135">Github-Oscar_HR</a></p>
    </footer>
</body>
</html>