{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title%}Oscar's Website{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{% static 'project/img/favicon.ico' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'project/css/base.css' %}">
    {% block head_content %}
    {% endblock %}
</head>
<body>
    <header>
        <h1>Oscar Horn Roostami</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/test">Test</a></li>
                <li><a href="/calculator">Calculator</a></li>
            </ul>
        </nav>
        <div>
            <p>Contact</p>
        </div>
    </header>

{% block content %}

{% endblock %}
    <footer>
        <p>Min Github: <a href="https://github.com/Osi135" target="_blank" title="Osi135">Github-Oscar_HR</a></p>
    </footer>
</body>
</html>