body {
    background-color: lightblue;
    font-family: verdana;
}

.blue {
    color: blue;
    font-size: 64px;
}

.text1 {
    color: #402070;
    font-size: 32px;
    font-family: Arial, Helvetica, sans-serif;
    font-style:  italic;
    font-weight: 700;
    text-transform: capitalize;
    text-decoration: overline black;
    text-shadow: 3px 2px 3px red, -2px -1px 2px rebeccapurple;
    text-align: center;
    line-height: 1.8;
    letter-spacing: 3px;
    word-spacing: 3px;

}

.box1  {
    border: 3px solid red;
    width: 50%;
}
.box-content1 {
    margin: 5px 10px 5px 10px;
    padding: 4px 7px 4px 7px;
    border: 3px dashed black;
    box-sizing: border-box;
    width: 400px;
    height: 300px;
    border-radius: 30px;
    background-image: url('/static/project/img/python_server.jpg');
    background-size: 200px 150px;
    background-repeat: repeat;
    background-position: center center;
}
.box-content2 {
    margin: 5px 10px 5px 10px;
    padding: 4px 7px 4px 7px;
    border: 3px groove black;
    width: 200px;
    height: 100px;
    border-radius: 10px;
    background-color: aqua;
}

ul {
    list-style-type: square;
    list-style-position: inside;
    list-style-image: url('/static/project/img/Sprite.png');
}

a:hover {
    color: green;
    background-color: yellow;
    text-decoration: none;
}

table {
    border-collapse: collapse;
    width: 20%;
}
td, th {
    border: 1px solid black;
    text-align: center;
    padding: 10px;
}
th {
    background-color: #9090c0;
}
tr:nth-child(even) {
    background-color: darkkhaki;
}
input[type='text'], input[type='email'], input[type='tel'] {
    border: 1px solid rgb(200, 64, 12);
    width: 15%;
    padding: 5px;
    color:darkorchid;
    font-weight: bold;
}
input[type='button'] {
    background-color: green;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    font-weight: bold;
    color: white;
}
input[type='button']:hover {
    background-color: greenyellow;
}
label {
    font-weight: bold;
    color: rgb(24, 15, 80);
}
.block {
    background-color: red;
    border: 1px solid blue;
    padding: 5px;
    display: inline;
}
.inline {
    background-color: yellow;
    border: 1px dashed black;
    display: block;
}

nav li {
    display: inline;
}
nav a {
    outline: none;
    text-decoration: none;
    display: inline_block;
    margin-left: 1%;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
    width:31%;
    color: white;
    background-color: #9090c0;
}
nav a:hover {
    background: #b0b0d0;
}

section {
    display: flex;
}

article {
    background-color: blue;
    color: white;
    padding: 20px;
    margin: 10px;
    flex: 1;
}
.special {
    flex: 2;
}
img {
    float: right;
    position: relative;
    right: 100px;
    bottom: 50px;
    z-index: 1;
}
.relative {
    position: relative;
    left: 20px;
    bottom: 40px;
}
.absolute {
    position: absolute;
    right: 20px;
    bottom: 0px;
}
.fixed {
    position: fixed;
    right: 20px;
    bottom: 40px;
    z-index: 0;
    
}
.field {
    border-radius: 15px;
    border: 2px solid #3c4043;
    font-size: 18px;
    line-height: 1.5;
    outline: none;
    font-weight: bold;
    color: #FFFFFF;
    padding: 5px 10px 5px 10px;
    background-color: #303134;
}

